@using SafetyPanel.Models
@model List<SafetyPanel.Models.Admin.Adminler>

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Responsive Bootstrap 5 Admin &amp; Dashboard Template">
    <meta name="author" content="Bootlab">

    <title>Şifre Yenileme</title>

    <link rel="canonical" href="https://appstack.bootlab.io/pages-sign-up.html" />
    <link rel="shortcut icon" href="~/Template/SafetyPanelTemplate/appstack-bs5.bootlab.io/img/favicon.ico">

    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&amp;display=swap" rel="stylesheet">
    <link class="js-stylesheet" href="~/Template/SafetyPanelTemplate/appstack-bs5.bootlab.io/css/light.css" rel="stylesheet">


    <link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/sweetalert2@10.10.1/dist/sweetalert2.min.css'>

    <style>
        body {
            background-color: #CC0404;
            overflow-y: hidden;
        }

        .h2, .lead {
            color: white;
        }
    </style>
</head>

<body data-theme="default" data-layout="fluid" data-sidebar-position="left" data-sidebar-behavior="sticky">
    <div class="main d-flex justify-content-center w-100">
        <main class="content d-flex p-0">
            <div class="container d-flex flex-column">
                <div class="row h-100">
                    <div class="col-sm-10 col-md-8 col-lg-6 mx-auto d-table h-100">
                        <div class="d-table-cell align-middle">

                            <div class="text-center mt-4">
                                <h1 class="h2">Şifrenizi Sıfırlayın</h1>
                                <p class="lead">
                                    Lüften aşağıdaki alanları eksiksiz doldurunuz.
                                </p>
                            </div>

                            <div class="card">
                                <div class="card-body">
                                    <div class="m-sm-4">
                                        <form>
                                            <div class="mb-3">
                                                <label class="form-label">Mevcut Şifre</label>
                                                <div class="input-group">
                                                    <input type="hidden" class="form-control form-control-lg" value="@Model[0].Id" name="Id" id="Id">
                                                    <input type="password" class="form-control form-control-lg" name="Current_Password" id="Current_Password" placeholder="Mevcut Şifrenizi Giriniz" maxlength="16">
                                                    <div class="input-group-lg">
                                                        <button class="btn btn-outline-primary" type="button" onclick="showPassword('Current_Password')">
                                                            <i class="fa fa-eye"></i>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="mb-3">
                                                <label class="form-label">Yeni Şifre</label>
                                                <div class="input-group">
                                                    <input type="password" class="form-control form-control-lg" name="New_Password" id="New_Password" placeholder="Yeni Şifrenizi Giriniz" maxlength="16">
                                                    <div class="input-group-lg">
                                                        <button class="btn btn-outline-primary" type="button" onclick="showPassword('New_Password')">
                                                            <i class="fa fa-eye"></i>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="mb-3">
                                                <label class="form-label">Yeni Şifre Tekrar</label>
                                                <div class="input-group">
                                                    <input type="password" class="form-control form-control-lg" name="New_Password_Repeat" id="New_Password_Repeat" placeholder="Yeni Şifrenizi Tekrar Giriniz" maxlength="16">
                                                    <div class="input-group-lg">
                                                        <button class="btn btn-outline-primary" type="button" onclick="showPassword('New_Password_Repeat')">
                                                            <i class="fa fa-eye"></i>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="text-center mt-3">
                                                <a class="btn btn-lg btn-primary" onclick="ResetPassword()">Şifreni Yenile</a>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
    <script src="~/Template/SafetyPanelTemplate/appstack-bs5.bootlab.io/js/app.js"></script>
    <script src="~/Scripts/SafetyScript/page_import_script.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10.10.1/dist/sweetalert2.all.min.js"></script>
</body>
</html>



